
	html, body { height: 100vh; }
	body {
		display: flex;
		padding: 0 10px;
		font-family: Poppins, Arial, sans-serif;
		font-size: 16px;
		line-height: 1.2;
		color: #204641; 
		background-color: #d4e4cd; 
		letter-spacing: 0.6px;
		word-spacing: 1px;
	}
	a { color: inherit; opacity: 0.87; }
	a:visited, a:focus, a:hover { text-decoration: none; }

	h2 { font-size: 22px; }



	/*--------------- KEYFRAMES -------------*/
	/*--------------- KEYFRAMES -------------*/
	@keyframes headshake {
	    25% { transform: translateX(5px); }
	    75% { transform: translateX(-5px); }
	}
	/*--------------- KEYFRAMES END -------------*/
	/*--------------- KEYFRAMES END -------------*/



	/*--------------- GENERAL -------------*/
	/*--------------- GENERAL -------------*/
	input[placeholder] { color: #aaa; }
	.non { display: none; }
	.oui { display: block; }
	.error { 
		background-color: #ffeaed;
		border : 2px solid #c00000;
		animation: headshake 100ms 300ms cubic-bezier(.4,.1,.6,.9) 3; 
	}
	.black { color: #212121; }
	.lightBack { background-color: #d4e4cd; }
	.dark { color: #d4e4cd; background-color: #204641; }
	.bold { font-weight: bold; }
	.confirmationTexte { padding: 5px 10px; }
	.containerAjoutPlante, .containerMesPlantes { 
		display: flex;
		flex: 1;
		justify-content: center;
		align-items: center;
		margin-top: 55px;
		padding: 55px 20px; 
	}
	.accueil { 
		position: relative; 
		flex: 1;
		justify-content: center;
		align-items: center;
	}
		.accueilMesPlantes, .accueilMesArrosages, .accueilNotExists {
			height: 100vh;
			margin-top: 0;
			padding: 100px 0;
		}
		.divMesPlantes, .divMesArrosages { padding-bottom: 20px }
		.titrePage {
			margin-bottom: 8vw;
			padding: 10px 15px;
			font-size: 7vw; 
			color: #d4e4cd;
			text-align: center;
			background-color: #204641;
		}
	#idSiteCache { display: none; }

	.majuscule { text-transform: uppercase; }
	.btn { 
		width: 100%; 
		height: 42px; 
		margin-top: 20px;
		font-size: 18px;
		border-radius: 20px; 
	}
	.promoUploadTof {
		width: 70vw;
		margin-bottom: 30px;
		overflow-x: hidden;
	}
	.titreModal { margin: 20px 0 40px; padding: 0; font-size: 18px; font-weight: bold; }
	.modal-body { position: relative; }
	.modal-footer { padding-bottom: 40px; }
		.modal-footer .btn + .btn { margin-left: 0; }
	/*--------------- GENERAL END -------------*/
	/*--------------- GENERAL END -------------*/



	/*--------------- NAVIGATION -------------*/
	/*--------------- NAVIGATION -------------*/
	.logo {
		width: 115px;
		margin-top: 10px;
		padding: 10px;
		font-weight: bold;
		font-size: 12px;
		color: #d4e4cd;
		text-transform: uppercase;
		background-color: #204641;
		transform: rotateZ(-5deg);
	}
	#navbar { 
		flex: 1;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 52px;
		left: -10px;
		right: -10px;
		height: 100vh;	
		margin: 0;
		padding: 17vh 0;
		max-height: none;  
		background-color: #204641; 
	}
	#navbar .navbar-nav { margin: 10px 0; display: block; vertical-align: middle; }
	#navbar .active { 
		background-color: #e58b14; 
		border-width: 3px; 
		color: rgba(0,0,0,0.9); 
	}
	#navbar a { 
		display: block;
		width: 80%;
		margin: 15px auto;
		color: rgb(255,255,255);  
		background-color: rgba(0,0,0,0.15);
		border: 1px solid #fff; 
	}

	.navigation { 
		background-color: #fff; 
		border-top: 3px solid #fff; 
		border-bottom: 3px solid #fff; 
		border-left: 7px solid #fff; 
		border-right: 7px solid #fff; 
	}
	.navbar-toggle { 
		margin-right: 0; 
		border: none; 
		transform: rotate(90deg) scaleX(0.8); 
		transition-duration: 300ms;
	}
		.navbar-header .collapsed { 
			transform: rotate(0deg) scaleX(1); 
			transition-duration: 300ms; 
		}
		
	.navbar-brand { padding: 5px; padding-left: 10px; }
	.navbar-inverse .navbar-toggle .icon-bar { background-color: #024249; }
	.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus { background-color: transparent; }
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form { border-color: #919191; }
	.navbar-toggle .icon-bar { width: 22px; height: 3px; }

	#navbar .btnDeconnect { 
		margin-top: 100px;
		color: #204641; 
		background-color: #d4e4cd; 
	}
/*--------------- NAVIGATION END -------------*/
/*--------------- NAVIGATION END -------------*/


/*--------------- PAGE ACCUEIL -------------*/
/*--------------- PAGE ACCUEIL -------------*/
	.introAccueil {
		display: grid; 
		align-self: stretch; 
		align-content: stretch; 
		justify-content: stretch;
		grid-template-areas: "c d";
		margin-bottom: 4vh;
	}
		.connected { margin-top: 55px; }
		.potSuspendu {
			width: 25vw;
			max-width: 80px;
			height: 32vw;
			max-height: 160px;
		}
		.introAccueil p {
			width: 44vw;
			margin-top: 60px;
			margin-left: 20px;
			padding: 2.8vw;
			font-weight: bold;
			font-size: 5vw;
			color: #d4e4cd;
			text-transform: uppercase;
			background-color: #204641;
			transform: rotateZ(-5deg);
		}
		.corpsAccueil p { 
			width: 55vw;
			margin-top: 8vw;
			margin-left: 20px;
			font-weight: bold; 
			font-size: 11vw; 
		}
		.corpsAccueil .texteSatisfy {
			font-family: Satisfy;
			font-size: 11vw;
			font-weight: bold;
			color: #8ca362;
			transform: rotateZ(10deg); 
		}
		.corpsAccueil .ligneTexteSatisfy {
			width: 70px;
			height: 5px;
			background-color: #8ca362;
			transform: rotateZ(-15deg); 
		}
	.backStyle {
		float: right;
		width: 300px;
		height: 300px;
		background-image: url(images/back.png);
		clear: both;
	}
	.footerAccueil {
		position: fixed;
		left: 0;
		bottom: 0;
		right: 0;
		height: 61.25vw;
		max-height: 350px;
	}
		.footerPlantes { 
			position: absolute; 
			height: 61.25vw; 
			width: 70vw;
			max-width: 400px;
			max-height: 350px;
		}
/*--------------- PAGE ACCUEIL END -------------*/
/*--------------- PAGE ACCUEIL END -------------*/



/*--------------- PAGE MES PLANTES -------------*/
/*--------------- PAGE MES PLANTES -------------*/
	.divArrosages {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 100%;
		padding: 70px 50px;
		background-color: #8ca362;
		z-index: 1000;
	}
	.arrosageText { color: rgba(255,255,255,0.75); }
	.lesPlantes { margin: 70px 0; }
	.qtePlantes { padding: 10px 0; border-bottom: 2px solid #204641; }
/*--------------- PAGE MES PLANTES END -------------*/
/*--------------- PAGE MES PLANTES END -------------*/


@media only screen and (min-width : 768px){
	/*--------------- GENERAL -------------*/
	/*--------------- GENERAL -------------*/
	.containerAjoutPlante, .containerMesPlantes, .containerMesArrosages { 
		padding-left: 50px; 
		padding-right: 50px; 
	}

	.confirmationTexte { padding: 5px 10px; }
		.divMesPlantes, .divMesArrosages { padding-bottom: 20px }
	.titrePage {
		margin-bottom: 60px;
		padding-top: 15px;
		padding-bottom: 20px;
		font-size: 32px;
	}

	.promoUploadTof { width: 300px; }

	.notConnected { margin-top: -50px; transform: scale(0.75); }
	.seConnecter { display: block; width: 60vw; margin: 0 auto; }
	.at-form { width: 50vw; }
	/*--------------- GENERAL END -------------*/
	/*--------------- GENERAL END -------------*/



	/*--------------- NAVIGATION -------------*/
	/*--------------- NAVIGATION -------------*/
	#navbar { padding: 12vh 0; }
	.navbar-collapse.collapse { display: none !important; }
	.navbar-collapse.in { display: block !important; }
	.navbar-header { width: 100%; }
	.navbar-toggle { display: block; }
		
	#navbar .navbar-nav { float: none; display: block; width: 75%; margin: 10% auto; }
		.navbar-nav > li { float: none; }

	#navbar a { width: 100%; margin: 30px auto; padding: 20px; }
	/*--------------- NAVIGATION END -------------*/
	/*--------------- NAVIGATION END -------------*/



/*--------------- PAGE ACCUEIL -------------*/
/*--------------- PAGE ACCUEIL -------------*/
	.introAccueil { margin-bottom: 4vh; }
		.potSuspendu { width: 140px; max-width: 200px; height: 280px; max-height: 400px; }
		.introAccueil p {
			width: 240px;
			margin-top: 120px;
			margin-bottom: 100px;
			margin-left: 50px;
			padding: 15px;
			font-size: 28px;
		}
	.corpsAccueil { width: 720px; margin: -70px auto 0; }
		.corpsAccueil p { 
			width: 300px;
			margin-top: 40px;
			margin-left: 60px;
			font-size: 60px; 
		}
		.corpsAccueil .texteSatisfy { font-size: 60px; }
		.corpsAccueil .ligneTexteSatisfy { height: 8px; }

	.backStyle { 
		position: fixed;
		right: 0;
		bottom: 0;
		width: 320px; 
		height: 320px; 
	}
	.footerAccueil { height: 306.25px; }
		.footerPlantes { height: 306.25px; width: 350px; }
/*--------------- PAGE ACCUEIL END -------------*/
/*--------------- PAGE ACCUEIL END -------------*/

}

@media only screen and (min-width : 992px){    
	html { 
		display: flex;
		height: auto;
		align-items: center;
		justify-content: space-between;
		flex-flow: column nowrap;   
	}   
	body { padding: 0; overflow-x: hidden; overflow-y: auto; }



	/*--------------- GENERAL -------------*/
	/*--------------- GENERAL -------------*/
	.containerAjoutPlante, .containerMesPlantes, .containerMesArrosages { 
		width: 100vw;
		padding-right: 0;
		padding-left: 0;
	}
	.divGdEcran { 
		width: 42vw; 
		margin-left: 50vw;
		padding-right: 13vw;
	}
		.accueilAjoutPlante .divGdEcran { margin-top: 70px; transform: scale(0.85); }
	#idSiteCache { display: block; width: 45vw; }
	.titrePage { padding: 13px 13px 17px; font-size: 20px; }
	.modal-body { padding: 20px 40px; }
	.modal-footer { padding: 20px 40px 40px; }
	.panel-body { padding: 13px; font-size: 13px; }

	.at-form { margin-top: -50px; }
	/*--------------- GENERAL END -------------*/
	/*--------------- GENERAL END -------------*/



	/*--------------- NAVIGATION -------------*/
	/*--------------- NAVIGATION -------------*/
	.navbar-toggle { display: none; }
	#navbar {
		top: 0;
		right: 0;
		left: auto;  
		width: 800px;
		padding: 0;
		background-color: transparent;
		border: none;
	}
	.authentification #navbar { width: 820px; padding-left: 0; }
	.navbar-collapse.collapse { display: inline-block !important; }

	#navbar .navbar-nav { 
		display: inline-block; 
		width: 100%; 
		margin: 10px; 
		padding-left: 30px; 
	}
	.navbar-nav > li { float: left; }
	#navbar a, #navbar .btnDeconnect { 
		width: auto; 
		margin: 0 18px; 
		padding: 0; 
		font-size: 15px;
		font-weight: 600;
		line-height: 25px;
		letter-spacing: 0.1px;
 		word-spacing: 0;
		border : none;
		color: rgba(33,33,33,0.9); 
		background-color: transparent;
	}
	a:hover { font-weight: bold; transition-duration: 0.3s; color: #bc8b45; }  
		#navbar a::after {
  			display: block;
  			content: '';
  			color: #bc8b45;
  			border-bottom: 3px solid #bc8b45; 
  			transform: scaleX(0);  
  			transition: transform 300ms ease-in-out;
		}
		#navbar a:hover::after { transform: scaleX(1); }
	#navbar .active { 
		font-weight: bold;
		background-color: transparent; 
		color: #bc8b45; 
		border-bottom: 5px solid #bc8b45;
	}
	.navbar-collapse { margin-top: 0; }
	/*--------------- NAVIGATION END -------------*/
	/*--------------- NAVIGATION END -------------*/



	/*--------------- PAGE ACCUEIL -------------*/
	/*--------------- PAGE ACCUEIL -------------*/
	.introAccueil { width: 720px; margin-left: auto; margin-right: auto; margin-bottom: 0; }
		.introAccueil p { margin-top: 120px; margin-bottom: 100px; }
		.potSuspendu { width: 120px; height: 240px; }

		.corpsAccueil p { width: 400px; margin-top: 0; font-size: 38px; }
		.corpsAccueil .texteSatisfy { margin-top: 50px; font-size: 52px; }

	.footerAccueil { height: 262px; }
		.footerPlantes { height: 262px; width: 300px; }
	/*--------------- PAGE ACCUEIL -------------*/
	/*--------------- PAGE ACCUEIL -------------*/



	/*--------------- PAGE MES PLANTES -------------*/
	/*--------------- PAGE MES PLANTES -------------*/
		.divArrosages {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			width: 100%;
			padding: 70px 50px;
			background-color: #8ca362;
			z-index: 1000;
		}
		.arrosageText { color: rgba(255,255,255,0.75); }
		.lesPlantes { margin: 70px 0; }
		.qtePlantes { padding: 10px 0; border-bottom: 2px solid #204641; }
	/*--------------- PAGE MES PLANTES END -------------*/
	/*--------------- PAGE MES PLANTES END -------------*/

}

@media only screen and (min-width : 1200px){ 
	/*--------------- GENERAL -------------*/
	/*--------------- GENERAL -------------*/
	.modal-body { height: 620px; padding: 20px 40px; }
	/*--------------- GENERAL END -------------*/
	/*--------------- GENERAL END -------------*/

}