<template name="tmpltePrincipal">
	{{> yield }}
</template>

<template name="tmplteNotExists">
  <div class="accueil accueilNotExists starter-template" id="idAccueilNotExists">
    <h1 class="titrePage">Désolé, cette page n'existe pas</h1>
    <a class="seConnecter" href="/">
      <button class="btn" type="submit">
        Se connecter
      </button>
    </a>
  </div>
</template>

<template name="tmpltePageAccueil">
  {{#if currentUser}}
	 {{> tmplteNavigationAccueil }}
  {{/if}}
	<div class="container containerAccueil" id="idContainerAccueil">
		{{> tmplteAccueil }}
  </div>
</template>

<template name="tmplteAccueil">
  <div class="accueil starter-template" id="idAccueil">
    {{#if currentUser}}
      <div>
        <div class="introAccueil connected">
          <p>
            la main verte
          </p>
          <img src="images/potSuspenduTwo.png" loading="lazy" width="80" height="160" class="potSuspendu">
        </div>
        <div class="corpsAccueil">
          <p>à la maison</p>
          <p class="texteSatisfy">C'est vous !</p>
          <p class="ligneTexteSatisfy"></p>
        </div>
        <div class="backStyle"></div>
        <div class="footerAccueil">
          <img src="images/arrosage.png" loading="lazy" width="400" height="350" class="footerPlantes">
        </div>
      </div>
    {{else}}
      <div class="notConnected">
        <div class="introAccueil">
          <p class="introTexte">
            La main verte
          </p>
          <img src="images/potSuspenduTwo.png" loading="lazy" width="80" height="160" class="potSuspendu">
        </div>
      </div>
      {{> atForm}}
    {{/if}}
  </div>
</template>

<template name="tmplteNavigationAccueil">
	<nav id="navAccueil" class="navbar navbar-inverse navbar-fixed-top navigation">
  	<div id="idNavigation" class="container">
  		<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    			<span class="sr-only"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" href="/">
          <img src="images/logo.png" loading="lazy" width="40" height="40">
    		</a>
  		</div>
  		<div id="navbar" class="collapse navbar-collapse">
    		<ul class="nav navbar-nav">
    			<li><a class="text-center active" href="/">Accueil</a></li>
    			<li><a class="text-center" href="/mesplantes">Mes plantes</a></li>
    			<li><a class="text-center" href="/ajoutplante">Nouvelle plante</a></li>
    			<li><a class="text-center" href="/arrosages">Tous les arrosages</a></li>
          {{> tmplteLogOut }}
    		</ul>
  		</div>
  	</div>
	</nav>
</template>

<template name="tmplteLogOut">
  <li><a class="text-center btnDeconnect" id="idLogout" href="/">Se déconnecter</a></li>
</template>
