<template name="tmpltePageContact">
  {{> tmplteNavigationContact }}
  <div class="container" id="idContainerContact">
    {{> tmplteContact }}
    <div class="bandeauDuBas"></div>
    <div class="siteCache" id="idSiteCache"></div>
  </div>
</template>

<template name="tmplteContact">
  <div class="accueil starter-template" id="idContact">
    <div class="triangle"></div>
    <p class="intro text-center text-md-left">Nous contacter</p>
    <div class="contact">
      <p>
        Merci de nous envoyer un mail.<br/>
        Nous vous répondrons dans les plus brefs délais
      </p>
      <form id="idContactEmail" class="contactEmail">
        <p class="crayonContact">
          <span class="glyphicon glyphicon-pencil"></span>
        </p>
        <div class="form-group contactE">
          <div class="form-group">
            <input type="email" name="emailContact" class="form-control emailContact" id="idInputContactEmail" maxlength="60" placeholder="Votre adresse mail" autocomplete="true" required>
          </div>
          <div class="form-group">
            <input type="text" name="objetContact" class="form-control objetContact" id="idObjetContact" maxlength="80" placeholder="Objet du mail" autocomplete="true" required>
          </div>
          <div class="form-group"><textarea name="messageContact" class="form-control" id="idMessageContact" maxlength="1500" rows="8" required></textarea></div>
        </div>
        <div id="idEnvMail" class="form-group envMail">
          <button type="button" id="idEnvoiMail" class="btn-default envoiMail">ENVOYER</button>
        </div>
        <div id="idConfirmEnvoiMail" class="confirmEnvoiMail non">
          <button type="button" id="idConfirmEnvoiMailOUI" class="confirmEMail btn btn-success">CONFIRMER</button>
          <button type="button" id="idConfirmEnvoiMailNON" class="confirmEMail btn btn-danger">ANNULER</button>
        </div>
        <div id="idAlertConfirmContact" class="alert alert-success non" role="alert">
          <h4 class="alert-heading">Message envoyé !</h4> 
          <h5>
            <span class="pacifico">Derniermarché.com</span> vous remercie de votre confiance !
          </h5>
          <button type="button" id="idClose" class="close" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
      </form>
    </div>
  </div>  
</template>

<template name="tmplteNavigationContact">
  <nav id="navigationContact" class="navbar navbar-inverse navbar-fixed-top navigation">
    <div id="idNavigation" class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">
          <span class="pacifico fairRed">Derniermarché</span><span class="pacifico bleuFonce">.com</span>
        </a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a class="text-center bold" href="/">Accueil</a></li>
          <li><a class="text-center bold" href="/offres">Les bonnes offres</a></li>
          <li><a class="text-center bold" href="/apropos">A propos</a></li>
          <li><a class="text-center bold active" href="#">Nous contacter</a></li>
        </ul>
      </div>
    </div>
  </nav>
</template> 