<template name="tmpltePageCreationEspace">
  {{> tmplteNavigationCreationEspace }}
  <div class="container containerCreationEspace" id="idContainerCreationEspace">
    {{> tmplteCreationEspace }}
    <div class="bandeauDuBas"></div>
    <div class="siteCache" id="idSiteCache"></div>
  </div>
</template>

<template name="tmplteCreationEspace">
  <div class="accueil starter-template" id="idCreationEspace">
    <p class="intro text-center text-md-left majuscule">Création d'un espace</p>
    {{#if currentUser}}
      {{#if $eq currentUser.profile "userApp"}}
        <div id="login-buttons" class="login-buttons-dropdown-align-">  
          <div class='login-link-and-dropdown-list'>
            <a class='login-link-text' id='login-name-link'>
              {{#each email in currentUser.emails}}
                {{ email.address }} ▾
              {{/each}}
            </a>
          </div>
        </div>
        <h1 class="titreSurMobile">Nouvel espace</h1>
        <p class="ligneSeparation crea"></p>
        <div class="formCreation">
          <form class="js-new-espace form-horizontal col-md-10" id="idNewEspace">
            <div class="form-group">
              <input type="text" name="nomEspace" class="form-control majuscule" id="idNomEspace" maxlength="30" placeholder="Nom de l'espace" autocomplete="true" required>
            </div>
            <div class="form-group">
              <input type="text" name="villeEspace" class="form-control majuscule" id="idVilleEspace" maxlength="30" placeholder="Ville Siège" autocomplete="true" required>
            </div>
            <div class="form-group">
              <input type="number" name="contactEspace" class="form-control majuscule" id="idContactEspace" maxlength="9" placeholder="Téléphone de contact Siège" required>
            </div>
            <div class="form-group">
              <input type="email" name="mailEspace" class="form-control" id="idMailEspace" maxlength="60" placeholder="MAIL DE CONTACT" required>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default majuscule">Valider</button>
            </div>
          </form>
        </div>
        <div class="modal" tabindex="-1" role="dialog" id="modalCreationEspace">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p>Confirmez-vous la création de l'espace ?</p>
                <button type="button" class="btn btn-primary js-new-espace-confirm majuscule" data-target="#idNewEspace">Créer</button>
                <button type="button" class="btn btn-secondary majuscule" data-dismiss="modal">Annuler</button>
              </div>
            </div>
          </div>
        </div> 
        <div class="modal" tabindex="-1" role="dialog" id="modalEspaceAlreadyCreated">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-body">
                <p>Espace déjà existant</p>
                <button type="button" class="btn btn-secondary majuscule" data-dismiss="modal">Annuler</button>
              </div>
            </div>
          </div>
        </div> 
      {{ else }}
        <div id="login-buttons" class="login-buttons-dropdown-align-">
          <div class="login-link-and-dropdown-list login-form-sign-in">
            <a class="login-link-text" id="login-sign-in-link">Sign in ▾</a>
          </div>
        </div>
        <div class="seConnecter"><span>Se</span> connecter</div>
        <div id='idErrLogin' class='error errLogin'>Vous n'êtes pas autorisé.e.s</div>
      {{ /if }}
    {{ else }}
      <div id="login-buttons" class="login-buttons-dropdown-align-">
        <div class="login-link-and-dropdown-list login-form-sign-in">
          <a class="login-link-text" id="login-sign-in-link">Sign in ▾</a>
        </div>
      </div>
      <div class="seConnecter"><span>Se</span> connecter</div>
    {{ /if }}  
  </div>   
</template>

<template name="tmplteNavigationCreationEspace">
  <nav class="navbar navbar-inverse navbar-fixed-top navigation">
    <div id="idNavigationEspace" class="container authentification">
      <div class="navbar-header">
        {{#if currentUser}}
          {{#if $eq currentUser.profile "userApp"}}
          <button type="button" class="navbar-toggle collapsed btnCreation" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{/if}}
        {{ /if }}
        <a class="navbar-brand" href="/">
          <span class="pacifico fairRed">Derniermarché</span><span class="pacifico bleuFonce">.com</span>
        </a>
      </div>
      {{#if currentUser}}
        {{#if $eq currentUser.profile "userApp"}}
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="text-center bold" href="/authentification/espaces">Espaces disponibles</a></li>
            <li><a class="text-center bold" href="/authentification/sites">Sites disponibles</a></li>
            <li><a class="text-center bold active" href="#">Création d'un espace</a></li>
            <li><a class="text-center bold" href="/authentification/creationsite">Création d'un site</a></li>
            <li><a class="text-center bold" href="/authentification/utilisateurs">Les utilisateurs</a></li>
          </ul>
        </div>
        {{/if}}
      {{ /if }}
    </div>
  </nav>
</template>

