<template name="tmpltePageEspaces">
  {{> tmplteNavigationEspaces }}
  <div class="container" id="idContainerEspaces">
    {{> tmplteEspaces }}
    <div class="bandeauDuBas"></div>
    <div class="siteCache" id="idSiteCache"></div>
   </div>
</template>

<template name="tmplteEspaces">
  <div class="accueil starter-template" id="idEspaces">
    <p class="intro text-center text-md-left majuscule">Espaces disponibles</p>
    {{#if currentUser}}
      <div id="login-buttons" class="login-buttons-dropdown-align-">  
        <div class='login-link-and-dropdown-list'>
          <a class='login-link-text' id='login-name-link'>
            {{#each email in currentUser.emails}}
              {{ email.address }} ▾
            {{/each}}
          </a>
        </div>
      </div>
      <h1 class="titreSurMobile">Les espaces</h1>
      <p class="ligneSeparation"></p>
      <div class="espacesDispo">
        {{#each espace in lEspaces}}
            {{> tmplteChaqueEspace espace = espace }}
        {{/each}}
      </div>
    {{ else }}
      <div id="login-buttons" class="login-buttons-dropdown-align-">
        <div class="login-link-and-dropdown-list login-form-sign-in">
          <a class="login-link-text" id="login-sign-in-link">Sign in ▾</a>
        </div>
      </div>
      <div class="seConnecter"><span>Se</span> connecter</div>
    {{ /if }}          
  </div>  
</template>

<template name="tmplteChaqueEspace">
	<div class="panel panel-default js-modif-espace">
		<div class="panel-body">
			<p>
				{{ espace.espaceNom }}
				<span class="glyphicon glyphicon-chevron-right pull-right" id="{{ espace._id }}"></span>
			</p>
		</div>		
	</div>
</template>

<template name="tmplteModalModifEspace">
	<div class="modal fade" tabindex="-1" role="dialog" id="idModalModifEspace">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      	<div class="modal-header">
      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
      			<h4>FERMER</h4>
      		</button>
      	</div>
        <div class="modal-body">
          <div class="col-lg-6 notificationNON" id="idNotification">
      			<p>MODIFICATION IMPOSSIBLE : espace déjà existant</p>
    		  </div>
    		  <div class="col-lg-6 notificationExistNON" id="idNotificationExist">
      			<p>TRAITEMENT IMPOSSIBLE : espace non existant</p>
    		  </div>
    		  <div class="col-lg-6 confirmationNON" id="idConfirmation">
      			<button type="button" class="btn btn-primary confirmModifNON" id="idConfirmModif">CONFIRMER MODIFICATION</button>
      			<button type="button" class="btn btn-danger confirmSuppNON" id="idConfirmSupp">CONFIRMER SUPPRESSION</button>
      			<button type="button" class="btn btn-primary confirmBlockNON" id="idConfirmBlock">CONFIRMER BLOCAGE</button>
      			<button type="button" class="btn btn-primary confirmDeblockNON" id="idConfirmDeblock">CONFIRMER DEBLOCAGE</button>
      			<button type="button" class="btn btn-secondary confirmAnnulNON" id="idConfirmAnnul">ANNULER</button>
    		  </div>
          <div class="form-group petit">
            Espace bloqué ? <span class="bold">{{ espace.espaceBlocked }}</span>
          </div>
          <form class="js-modif-espace form-horizontal col-lg-8" id="idModifEspace">
      			<div class="form-group">
            	<input type="text" name="nomEspace" class="form-control majuscule" id="idModifNomEspace" maxlength="30" value="{{ espace.espaceNom }}" required>
      			</div>
      			<div class="form-group">
          		<input type="text" name="villeEspace" class="form-control majuscule" id="idModifVilleEspace" maxlength="30" value="{{ espace.espaceVille }}" required>
      			</div>
      			<div class="form-group">
          		<input type="text" name="contactEspace" class="form-control majuscule" id="idModifContactEspace" maxlength="30" value="{{ espace.espaceContact }}" required>
      			</div>
      			<div class="form-group">
          		<input type="text" name="mailEspace" class="form-control" id="idModifMailEspace" maxlength="30" value="{{ espace.espaceMail }}" required>
    			  </div>
    		  </form>
        </div>
        <div class="modal-footer">
    			<button type="button" class="btn btn-primary majuscule js-btn-modifier" name="btnModifier">Modifier</button>
    			<button type="button" class="btn btn-default majuscule js-btn-supprimer" name="btnSupprimer">Supprimer Espace</button>
				  <button type="button" class="btn btn-secondary majuscule js-btn-blocked" name="btnBlocked">Bloquer/Débloquer</button>
  			</div>
      </div>
    </div>
  </div>
</template>

<template name="tmplteNavigationEspaces">
  <nav id="navigationAuthEspaces" class="navbar navbar-inverse navbar-fixed-top navigation">
    <div id="idNavigationEspaces" class="container authentification">
      <div class="navbar-header">
        {{#if currentUser}}
          <button type="button" class="navbar-toggle collapsed btnCreation" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        {{ /if }}
        <a class="navbar-brand" href="/">
          <span class="pacifico fairRed">Derniermarché</span><span class="pacifico bleuFonce">.com</span>
        </a>
      </div>
      {{#if currentUser}}
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="text-center bold active" href="#">Espaces disponibles</a></li>
            <li><a class="text-center bold" href="/authentification/sites">Sites disponibles</a></li>
            <li><a class="text-center bold" href="/authentification/creationespace">Création d'un espace</a></li>
            <li><a class="text-center bold" href="/authentification/creationsite">Création d'un site</a></li>
          </ul>
        </div>
      {{ /if }}
    </div>
  </nav>
</template>