<template name="tmpltePageOffresSites">
  {{> tmplteNavigationOffresSite }}
  <div class="container" id="idContainerOffresSites">
    {{> tmplteOffresSites }}
    <div class="bandeauDuBas"></div>
    <div class="siteCache" id="idSiteCacheOffresSites"></div>
  </div>
</template>

<template name="tmplteOffresSites">
  <div class="accueil starter-template" id="idOffresSites">
    <div id="idAccueiIntro" class="accueilIntro">  
      <p class="intro text-center text-md-left">
        <a href="/offres" title="Recherche offres">
          <span class="glyphicon glyphicon-chevron-left pull-left glyphRechercheOffre"></span>
        </a>
        <p class="leSiteChoisi bold">
          {{ siteEspace }} / <span class="smallCaption pacifico">{{ siteQuartier }}</span>
        </p>
      </p>
      <p class="espaceQuartier bold">
        {{ siteEspace }} / <span class="smallCaption pacifico">{{ siteQuartier }}</span>
      </p>

      <p id="idInfoSite" class="infoSite">   
        <p id="idTime" class="time"></p>
        <p class="horaires">
          <p id="idHoraires" class="bleuGras bold">HORAIRES</p>
          <p class="lesHoraires slide-in">
            <p class="jour">
              <span>Lun : </span>{{ siteOuvLundi }}-{{ siteFermLundi }}
            </p>
            <p class="jour card">
              <span>Mar : </span>{{ siteOuvMardi }}-{{ siteFermMardi }}
            </p>
            <p class="jour card">
             <span> Mer : </span>{{ siteOuvMercredi }}-{{ siteFermMercredi }}
            </p>
            <p class="jour card">
              <span>Jeu : </span>{{ siteOuvJeudi }}-{{ siteFermJeudi }}
            </p>
            <p class="jour card">
              <span>Ven : </span>{{ siteOuvVendredi }}-{{ siteFermVendredi }}
            </p>
            <p class="jour card">
              <span>Sam : </span>{{ siteOuvSamedi }}-{{ siteFermSamedi }}
            </p>
            <p class="jour card">
              <span>Dim : </span>{{ siteOuvDimanche }}-{{ siteFermDimanche }}
            </p>
            <p class="jour card">
              <span>Fér : </span>{{ siteOuvFeries }}-{{ siteFermFeries }}
            </p>  
          </p>       
        </p>
        <p id="idLocationMap" class="locationMap"></p>
        <p class="localisation">
        	<iframe src="{{ siteEmplacement }}" width="310" height="480"></iframe>
        </p>
      </p>
      <p id="idNoteSite" class="noteSite">
        <p class="starsNote comment-section">
          <p class="msgNote text-center">Votre avis compte</p>
          <p class="comsNote">La note évalue la fiabilité des informations de cette surface</p>
          {{> starsRating id='rating' class='mystar white' size=20 mutable=true}} 
          <form id="idNoteEmail" class="noteEmail non">
            <div class="form-group noteE">
              <input type="email" name="emailClient" class="form-control emailClient" id="{{ _id }}" maxlength="60" placeholder="Veuillez entrer votre email SVP" autocomplete="true" required>
            </div>
            <div class="valider">
              <span id="idEmailKo" class="glyphicon glyphicon-remove emailKo" title="Annuler"></span>
            </div>
          </form>
          <div id="idConfirmModifNote" class="confirmModifNote non">
            Souhaitez-vous modifier votre dernière note ?
            <button type="button" id="idConfirmModifOui" class="confirm">OUI</button>
            <button type="button" id="idConfirmModifNon" class="confirm">NON</button>
          </div> 
          <div id="idAlertConfirm" class="alert alert-success non" role="alert">
            <span class="pacifico">Derniermarché.com</span> vous remercie pour votre note
          </div>        
        </p>
        <p class="inviteNote text-center">
          <span class="glyphicon glyphicon-pencil crayon"></span>
        </p>
      </p>
    </div>
    <div class="divOffres">
      {{#let qteDM=dMOffres}}
        {{#if qteDM.qteDMOBool }}
          <div class="lesDerniersMarches">
            <div class="lesOffresItem">
              <p id="idPoussette" class="poussette"></p>
              <div class="dmLesOffresTitresDiv">
                <h1 class="lesOffresTitres white">- Les derniers marchés -</h1>
              </div>
              <p class="petiteIntro petit">
                <div class="stylePetiteIntro spiOne"></div>
                <div class="stylePetiteIntro spiTwo"></div>
                <div class="stylePetiteIntro spiThree"></div>
                <div class="stylePetiteIntro spiFour"></div>
                <div class="stylePetiteIntro spiFive"></div>
                <div class="stylePetiteIntro spiSix"></div>
                "Je vends je perds"
                <div class="slogan">
                  Viens faire ton choix. Ici on ne jette rien, #OnLiquide --
                </div>
              </p>
            </div>
            <div class="lesOffres">
              {{#if dMOffresEpicerieSalee}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Epicerie Salée</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteDM.qte.dMESal }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselDMESalee" class="carouselOffres">
                    {{#each dMESalee in dMOffresEpicerieSalee}} 
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{dMESalee.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ dMESalee.produitNom }}</p>
                            <p class="text-center petit white">{{ dMESalee.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ dMESalee.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ dMESalee.prixPromo }} FCFA</p>       
                            <p class="text-center remise">- {{ dMESalee.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ dMESalee.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idDMESaleePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idDMESaleeNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if dMOffresEpicerieSucree}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Epicerie Sucrée</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteDM.qte.dMESuc }} produit(s)</p>
                <div id="idContainCarouselDMESucree" class="containCarouselOffres">
                  <div id="idCarouselDMESucree" class="carouselOffres">      
                    {{#each dMESucree in dMOffresEpicerieSucree}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{dMESucree.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ dMESucree.produitNom }}</p>
                            <p class="text-center petit white">{{ dMESucree.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ dMESucree.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ dMESucree.prixPromo }} FCFA</p>   
                            <p class="text-center remise">- {{ dMESucree.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ dMESucree.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idDMESucreePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idDMESucreeNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if dMOffresProduitsFrais}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Produits Frais</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteDM.qte.dMPF }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselDMPFrais" class="carouselOffres">
                    {{#each dMPFrais in dMOffresProduitsFrais}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{dMPFrais.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ dMPFrais.produitNom }}</p>
                            <p class="text-center petit white">{{ dMPFrais.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ dMPFrais.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ dMPFrais.prixPromo }} FCFA</p>     
                            <p class="text-center remise">- {{ dMPFrais.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ dMPFrais.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idDMPFraisPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idDMPFraisNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if dMOffresFruitsLegumes}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Fruits & Légumes</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteDM.qte.dMFL }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselDMFLegumes" class="carouselOffres">
                    {{#each dMFLegumes in dMOffresFruitsLegumes}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{dMFLegumes.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ dMFLegumes.produitNom }}</p>
                            <p class="text-center petit white">{{ dMFLegumes.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ dMFLegumes.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ dMFLegumes.prixPromo }} FCFA</p>  
                            <p class="text-center remise">- {{ dMFLegumes.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ dMFLegumes.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idDMFLegumesPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idDMFLegumesNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if dMOffresBoucheriePoissVol}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Boucherie, Poissonnerie, Volaille</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteDM.qte.dMBPV }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselDMBPoissVol" class="carouselOffres">
                    {{#each dMBPoissVol in dMOffresBoucheriePoissVol}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{dMBPoissVol.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ dMBPoissVol.produitNom }}</p>
                            <p class="text-center petit white">{{ dMBPoissVol.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ dMBPoissVol.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ dMBPoissVol.prixPromo }} FCFA</p>       
                            <p class="text-center remise">- {{ dMBPoissVol.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ dMBPoissVol.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idDMBPoissVolPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idDMBPoissVolNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if dMOffresBoissonVinLiq}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Boisson, Vins, Liqueurs</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteDM.qte.dMBVL }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselDMBVinLiq" class="carouselOffres">
                    {{#each dMBVinLiq in dMOffresBoissonVinLiq}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{dMBVinLiq.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ dMBVinLiq.produitNom }}</p>
                            <p class="text-center petit white">{{ dMBVinLiq.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ dMBVinLiq.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ dMBVinLiq.prixPromo }} FCFA</p>
                            <p class="text-center remise">- {{ dMBVinLiq.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ dMBVinLiq.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idDMBVinLiqPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idDMBVinLiqNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if dMOffresBoulangeriePatisserie}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Boulangerie & Patisserie</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteDM.qte.dMBP }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselDMBPatisserie" class="carouselOffres">  
                    {{#each dMBPatisserie in dMOffresBoulangeriePatisserie}}
                    	<div class="panel panel-default offer">
  	                    <figure class="panel-body">
  	                      <p class="backTof">
  	                        <img src="{{dMBPatisserie.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
  	                      </p>
  	                      <figcaption class="promoIdentification">
  	                        <p class="text-center moyen bold white">{{ dMBPatisserie.produitNom }}</p>
  	                        <p class="text-center petit white">{{ dMBPatisserie.promoDetail }}</p>
  	                        <p class="text-center prix grand white">{{ dMBPatisserie.produitPrix }} FCFA</p>
  	                        <p class="text-center promo bold white">{{ dMBPatisserie.prixPromo }} FCFA</p>       
  	                        <p class="text-center remise">- {{ dMBPatisserie.promoRemise }} %</p>
  	                        <p class="text-center white">
  	                          <span class="petit">Promotion valable jusqu'au</span> <br>
  	                          <span class="grand bold">{{ dMBPatisserie.promoDateExp }}</span>
  	                        </p>
  	                      </figcaption>
  	                    </figure>
  	                    <div class="cacheTof"></div>   
                    	</div>
                    {{/each}}
                  </div>
                  <div id="idDMBPatisseriePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idDMBPatisserieNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if dMOffresFastFood}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Fast Food</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteDM.qte.dMFF }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselDMFFood" class="carouselOffres">
                    {{#each dMFFood in dMOffresFastFood}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{dMFFood.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ dMFFood.produitNom }}</p>
                            <p class="text-center petit white">{{ dMFFood.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ dMFFood.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ dMFFood.prixPromo }} FCFA</p>       
                            <p class="text-center remise">- {{ dMFFood.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ dMFFood.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idDMFFoodPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idDMFFoodNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
            </div>
          </div>
        {{/if}}
      {{/let}}
      {{#let qteP=pOffres}}
        {{#if qteP.qtePOBool}}
          <div class="lesPromotions">
            <div class="lesOffresItem">
              <div class="lesOffresTitres">
                <div class="lesOffresTitresPromotions white">
                  <p class="illusion"></p>
                  <h1>- Le coin des promos -</h1>
                  <p class="petiteIntro petit">
                    Repère des "prix cassés"
                    <div class="slogan">
                      Ici, les réductions du moment dans notre magasin --
                    </div>
                  </p>
                </div>  
              </div>
            </div>
            <div class="lesOffres">
              {{#if pOffresEpicerieSalee}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Epicerie Salée</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteP.qte.pESal }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselPESalee" class="carouselOffres">
                    {{#each pESalee in pOffresEpicerieSalee}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{pESalee.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ pESalee.produitNom }}</p>
                            <p class="text-center petit white">{{ pESalee.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ pESalee.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ pESalee.prixPromo }} FCFA</p>     
                            <p class="text-center remise">- {{ pESalee.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ pESalee.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idPESaleePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idPESaleeNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if pOffresEpicerieSucree}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Epicerie Sucrée</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteP.qte.pESuc }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselPESucree" class="carouselOffres">
                    {{#each pESucree in pOffresEpicerieSucree}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{pESucree.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ pESucree.produitNom }}</p>
                            <p class="text-center petit white">{{ pESucree.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ pESucree.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ pESucree.prixPromo }} FCFA</p>    
                            <p class="text-center remise">- {{ pESucree.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ pESucree.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idPESucreePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idPESucreeNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if pOffresProduitsFrais}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Produits Frais</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteP.qte.pPF }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselPPFrais" class="carouselOffres">
                    {{#each pPFrais in pOffresProduitsFrais}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{pPFrais.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ pPFrais.produitNom }}</p>
                            <p class="text-center petit white">{{ pPFrais.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ pPFrais.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ pPFrais.prixPromo }} FCFA</p>     
                            <p class="text-center remise">- {{ pPFrais.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ pPFrais.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idPPFraisPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idPPFraisNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if pOffresFruitsLegumes}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2 class="white">Rayon Fruits & Légumes</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteP.qte.pFL }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselPFLegumes" class="carouselOffres">
                    {{#each pFLegumes in pOffresFruitsLegumes}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{pFLegumes.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ pFLegumes.produitNom }}</p>
                            <p class="text-center petit white">{{ pFLegumes.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ pFLegumes.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ pFLegumes.prixPromo }} FCFA</p>       
                            <p class="text-center remise">- {{ pFLegumes.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ pFLegumes.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idPFLegumesPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idPFLegumesNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if pOffresBoucheriePoissVol}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Boucherie, Poissonnerie, Volaille</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteP.qte.pBPV }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselPBPoissVol" class="carouselOffres">
                    {{#each pBPoissVol in pOffresBoucheriePoissVol}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{pBPoissVol.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ pBPoissVol.produitNom }}</p>
                            <p class="text-center petit white">{{ pBPoissVol.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ pBPoissVol.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ pBPoissVol.prixPromo }} FCFA</p>       
                            <p class="text-center remise">- {{ pBPoissVol.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ pBPoissVol.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idPBPoissVolPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idPBPoissVolNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if pOffresBoissonVinLiq}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Boisson, Vins, Liqueurs</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteP.qte.pBVL }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselPBVinLiq" class="carouselOffres">
                    {{#each pBVinLiq in pOffresBoissonVinLiq}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{pBVinLiq.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ pBVinLiq.produitNom }}</p>
                            <p class="text-center petit white">{{ pBVinLiq.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ pBVinLiq.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ pBVinLiq.prixPromo }} FCFA</p>       
                            <p class="text-center remise">- {{ pBVinLiq.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ pBVinLiq.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idPBVinLiqPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idPBVinLiqNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if pOffresBoulangeriePatisserie}}
              <div class="lesOffresItem">
  	            <p class="separationH2Haut"></p>
  	            <h2>Rayon Boulangerie & Patisserie</h2>
  	            <p class="separationH2"></p>
  	            <p class="qteOffre">{{ qteP.qte.pBP }} produit(s)</p>
  	            <div class="containCarouselOffres">
                  <div id="idCarouselPBPatisserie" class="carouselOffres">
  		              {{#each pBPatisserie in pOffresBoulangeriePatisserie}}
  		                <div class="panel panel-default offer">
  		                  <figure class="panel-body">
  		                    <p class="backTof">
  		                      <img src="{{pBPatisserie.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
  		                    </p>
  		                    <figcaption class="promoIdentification">
  		                      <p class="text-center moyen bold white">{{ pBPatisserie.produitNom }}</p>
  		                      <p class="text-center petit white">{{ pBPatisserie.promoDetail }}</p>
  		                      <p class="text-center prix grand white">{{ pBPatisserie.produitPrix }} FCFA</p>
  		                      <p class="text-center promo bold white">{{ pBPatisserie.prixPromo }} FCFA</p>       
  		                      <p class="text-center remise">- {{ pBPatisserie.promoRemise }} %</p>
  		                      <p class="text-center white">
  		                        <span class="petit">Promotion valable jusqu'au</span> <br>
  		                        <span class="grand bold">{{ pBPatisserie.promoDateExp }}</span>
  		                      </p>
  		                    </figcaption>
  		                  </figure>
  		                  <div class="cacheTof"></div>   
  		                </div>
  		              {{/each}}
  		            </div>
                  <div id="idPBPatisseriePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idPBPatisserieNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
  		          </div>
  		        </div>
              {{/if}}
              {{#if pOffresFastFood}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Fast Food</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteP.qte.pFF }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselPFFood" class="carouselOffres">
                    {{#each pFFood in pOffresFastFood}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{pFFood.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ pFFood.produitNom }}</p>
                            <p class="text-center petit white">{{ pFFood.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ pFFood.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ pFFood.prixPromo }} FCFA</p>       
                            <p class="text-center remise">- {{ pFFood.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ pFFood.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idPFFoodPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idPFFoodNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
              {{#if pOffresBazar}}
              <div class="lesOffresItem">
                <p class="separationH2Haut"></p>
                <h2>Rayon Bazar</h2>
                <p class="separationH2"></p>
                <p class="qteOffre">{{ qteP.qte.pB }} produit(s)</p>
                <div class="containCarouselOffres">
                  <div id="idCarouselPBazar" class="carouselOffres">
                    {{#each pBazar in pOffresBazar}}
                      <div class="panel panel-default offer">
                        <figure class="panel-body">
                          <p class="backTof">
                            <img src="{{pBazar.produitTof}}" loading="lazy" alt="Photo promotion" width="104%" height="auto" class="promoTof">
                          </p>
                          <figcaption class="promoIdentification">
                            <p class="text-center moyen bold white">{{ pBazar.produitNom }}</p>
                            <p class="text-center petit white">{{ pBazar.promoDetail }}</p>
                            <p class="text-center prix grand white">{{ pBazar.produitPrix }} FCFA</p>
                            <p class="text-center promo bold white">{{ pBazar.prixPromo }} FCFA</p>       
                            <p class="text-center remise">- {{ pBazar.promoRemise }} %</p>
                            <p class="text-center white">
                              <span class="petit">Promotion valable jusqu'au</span> <br>
                              <span class="grand bold">{{ pBazar.promoDateExp }}</span>
                            </p>
                          </figcaption>
                        </figure>
                        <div class="cacheTof"></div>   
                      </div>
                    {{/each}}
                  </div>
                  <div id="idPBazarPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                  <div id="idPBazarNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                </div>
              </div>
              {{/if}}
            </div>
          </div>
        {{/if}}
      {{/let}}  
    </div>
    <div id="idLesOffresItemBis">
      <p id="idInfoSiteBis" class="infoSiteBis">   
        <p class="horairesBis lesOffresItem">
          <p id="idHorairesBis" class="bleuGras bold">HORAIRES</p>
          <p class="lesHorairesBis">
            <p class="jour">
              <span>Lun : </span>{{ siteOuvLundi }}-{{ siteFermLundi }}
            </p>
            <p class="jour card">
              <span>Mar : </span>{{ siteOuvMardi }}-{{ siteFermMardi }}
            </p>
            <p class="jour card">
             <span> Mer : </span>{{ siteOuvMercredi }}-{{ siteFermMercredi }}
            </p>
            <p class="jour card">
              <span>Jeu : </span>{{ siteOuvJeudi }}-{{ siteFermJeudi }}
            </p>
            <p class="jour card">
              <span>Ven : </span>{{ siteOuvVendredi }}-{{ siteFermVendredi }}
            </p>
            <p class="jour card">
              <span>Sam : </span>{{ siteOuvSamedi }}-{{ siteFermSamedi }}
            </p>
            <p class="jour card">
              <span>Dim : </span>{{ siteOuvDimanche }}-{{ siteFermDimanche }}
            </p>
            <p class="jour card">
              <span>Fér : </span>{{ siteOuvFeries }}-{{ siteFermFeries }}
            </p>  
          </p>       
        </p>
        <p class="localisationBis lesOffresItem">
            <iframe src="{{ siteEmplacement }}" width="730" height="380"></iframe>
        </p>
      </p>
      <p id="idNoteSiteBis" class="noteSite">
        <p id="idStarsNoteBis" class="starsNote comment-section">
          <p id="idMsgNoteBis" class="msgNote text-center">Votre avis compte</p>
          <p id="idComsNoteBis" class="comsNote">La note évalue la fiabilité des informations de cette surface</p>
          {{> starsRating id='ratingBis' class='mystar white' size=20 mutable=true}} 
          <form id="idNoteEmailBis" class="noteEmail non">
            <div id="idNoteEBis" class="form-group noteE">
              <input type="email" name="emailClientBis" class="form-control emailClientBis" id="{{ _id }}" maxlength="60" placeholder="Veuillez entrer votre email SVP" autocomplete="true" required>
            </div>
            <div id="idValiderBis" class="valider">
              <span id="idEmailKoBis" class="glyphicon glyphicon-remove emailKo" title="Annuler"></span>
            </div>
          </form>
          <div id="idConfirmModifNoteBis" class="confirmModifNote non">
            Souhaitez-vous modifier votre dernière note ?
             <button type="button" id="idConfirmModifOuiBis" class="confirm">OUI</button>
             <button type="button" id="idConfirmModifNonBis" class="confirm">NON</button>
          </div> 
          <div id="idAlertConfirmBis" class="alert alert-success non" role="alert">
            <span class="pacifico">Derniermarché.com</span> vous remercie pour votre note
          </div>        
        </p>
        <p id="idInviteNoteBis" class="inviteNote text-center">
          <span id="idCrayonBis" class="glyphicon glyphicon-pencil crayon"></span>
        </p>
      </p>
    </div> 
  </div>  
</template>

<template name="tmplteNavigationOffresSite">
  	<nav id="navigationOffresSite" class="navbar navbar-inverse navbar-fixed-top navigation">
      <div id="idNavigation" class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <span class="pacifico fairRed">Derniermarché</span><span class="pacifico bleuFonce">.com</span>
            </a>
          </div>
          <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a class="text-center bold" href="/">Accueil</a></li>
                <li><a class="text-center bold active" href="/offres">Les bonnes offres</a></li>
                <li><a class="text-center bold" href="/apropos">A propos</a></li>
                <li><a class="text-center bold" href="/contact">Nous contacter</a></li>
            </ul>
          </div>
      </div>
    </nav>
</template> 