<template name="tmpltePageOffres">
	{{> tmplteNavigationOffres }}
	<div class="container" id="idContainerOffres">
		{{> tmplteOffres }}
		<div class="bandeauDuBas"></div>
    <div class="siteCache" id="idSiteCache"></div>
    </div>
</template>

<template name="tmplteOffres">
  <div class="accueil starter-template" id="idOffres">
    <div class="triangle"></div>
    <p class="intro text-center text-md-left">Les bonnes offres</p>
    <h1 class="titreSurMobile">Ma Recherche</h1>
    <p class="ligneSeparation"></p>
    <div class="rechercheOffre">
      <form class="js-recherche-promo form-horizontal col-md-6">
    	  <div class="row">
    		  <div class="form-group has-feedback">
    			  <label for="idVille" class="col-md-6 control-label">La ville ? </label>
      			<div class="col-md-6">
        			<select id="idVillePromo" name="selectVillePromo" class="js-choix-villePromo form-control">
          		  <option>--</option>
                {{#if lVilles}}
                  {{#each lVilles}}
                  <option value="{{ville}}">{{ville}}</option>
                  {{/each}}
                {{/if}}
      			  </select>
      			  <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
    			  </div>
  		    </div>
		    </div>
        <div class="row choixNon" id="idChoixQuartier">
          <div class="form-group has-feedback">
            <label for="idQuartier" class="col-md-6 control-label">Le quartier ? </label>
            <div class="col-md-6">
              <select id="idSite" name="selectQuartierPromo" class="js-choix-quartierPromo form-control">
                <option>--</option>
                {{#if lQuartiers}}
                  {{#each quartier in lQuartiers}}
                  <option value="{{quartier}}">{{quartier}}</option>
                  {{/each}}
                {{/if}}
              </select>
              <span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
            </div>
          </div>
        </div>
  		  <div class="row choixNon" id="idChoixSurface">
    		  <div class="form-group has-feedback">
    			  <label for="idSurface" class="col-md-6 control-label">La surface ? </label>
      			<div class="col-md-6">
        			<select id="idSurface" name="selectEspacePromo" class="js-choix-espacePromo form-control">
                <option>--</option>
                {{#if lEspaces}}
                  {{#each lEspaces}}
                    <option value="{{siteEspace}}">{{siteEspace}}</option>
                  {{/each}}
                {{/if}}
        			</select>
        			<span class="glyphicon glyphicon-map-marker form-control-feedback"></span>
      			</div>
    		  </div>
  		  </div>
  		  <div class="form-group choixNon" id="idValidationRecherche">
  		    <a href="/offres/{{leSite._id}}"><button type="submit" class="col-md-6 btn btn-default">Valider</button></a>
  		  </div>
	    </form>
    </div>
  </div>  
</template>

<template name="tmplteNavigationOffres">
	<nav id="navigationOffres" class="navbar navbar-inverse navbar-fixed-top navigation">
  	<div id="idNavigation" class="container">
  		<div class="navbar-header">
    		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
    			<span class="sr-only">Toggle navigation</span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    			<span class="icon-bar"></span>
    		</button>
    		<a class="navbar-brand" href="/">
      		<span class="pacifico fairRed">Derniermarché</span><span class="pacifico bleuFonce">.com</span>
    		</a>
  		</div>
  		<div id="navbar" class="collapse navbar-collapse">
    		<ul class="nav navbar-nav">
    			<li><a class="text-center bold" href="/">Accueil</a></li>
    			<li><a class="text-center bold active" href="#">Les bonnes offres</a></li>
    			<li><a class="text-center bold" href="/apropos">A propos</a></li>
    			<li><a class="text-center bold" href="/contact">Nous contacter</a></li>
    		</ul>
  		</div>
  	</div>
	</nav>
</template>



