<template name="tmpltePageSitesDetail">
  {{> tmplteNavigationSitesDetail }}
  <div class="container containerSitesDetail" id="idContainerSitesDetail">
    {{> tmplteSitesDetail }}
    <div class="bandeauDuBas"></div>
    <div class="siteCache" id="idSiteCache"></div>
   </div>
</template>

<template name="tmplteSitesDetail">
  <div class="accueil starter-template" id="idSitesDetail">
    {{#if currentUser}}
      {{#if $in currentUser.profile "user" "userApp"}}
        <div id="login-buttons" class="login-buttons-dropdown-align-">  
          <div class='login-link-and-dropdown-list'>
            <a class='login-link-text' id='login-name-link'>
              {{#each email in currentUser.emails}}
                {{ email.address }} ▾
              {{/each}}
            </a>
          </div>
        </div>
        <p class="intro text-center text-md-left majuscule">
        	<a href="/authentification/sites" class="lesSites js-siteListe">
              <span class="glyphicon glyphicon-chevron-left pull-left"></span>
              <span class="lesSitesDispos">Les sites disponibles</span>
        	</a>
        	{{> tmplteChaqueSite uSite = uSite }}
        </p>
        <div class="leConteneur">
          <div class="divOffresSiteDetail">
            {{#let qteDM=dMOffres}}
              {{#if qteDM.qteDMOBool }}
                <div class="lesDerniersMarches">      
                  <h1 class="lesOffresTitres white">- Les derniers marchés -</h1>
                  <div class="lesOffres">
                    {{#if dMOffresEpicerieSalee}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Epicerie Salée</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteDM.qte.dMESal }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselDMESalee" class="carouselOffres">
                          {{#each dMESalee in dMOffresEpicerieSalee}} 
                            {{> tmplteChaquePromo promo = dMESalee }}
                          {{/each}}
                        </div>
                        <div id="idDMESaleePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idDMESaleeNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if dMOffresEpicerieSucree}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Epicerie Sucrée</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteDM.qte.dMESuc }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselDMESucree" class="carouselOffres">      
                          {{#each dMESucree in dMOffresEpicerieSucree}}
                            {{> tmplteChaquePromo promo = dMESucree }}
                          {{/each}}
                        </div>
                        <div id="idDMESucreePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idDMESucreeNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if dMOffresProduitsFrais}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Produits Frais</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteDM.qte.dMPF }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselDMPFrais" class="carouselOffres">
                          {{#each dMPFrais in dMOffresProduitsFrais}}
                            {{> tmplteChaquePromo promo = dMPFrais }}
                          {{/each}}
                        </div>
                        <div id="idDMPFraisPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idDMPFraisNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if dMOffresFruitsLegumes}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Fruits & Légumes</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteDM.qte.dMFL }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselDMFLegumes" class="carouselOffres">
                          {{#each dMFLegumes in dMOffresFruitsLegumes}}
                            {{> tmplteChaquePromo promo = dMFLegumes }}
                          {{/each}}
                        </div>
                        <div id="idDMFLegumesPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idDMFLegumesNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if dMOffresBoucheriePoissVol}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Boucherie, Poissonnerie, Volaille</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteDM.qte.dMBPV }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselDMBPoissVol" class="carouselOffres">
                          {{#each dMBPoissVol in dMOffresBoucheriePoissVol}}
                            {{> tmplteChaquePromo promo = dMBPoissVol }}
                          {{/each}}
                        </div>
                        <div id="idDMBPoissVolPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idDMBPoissVolNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if dMOffresBoissonVinLiq}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Boisson, Vins, Liqueurs</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteDM.qte.dMBVL }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselDMBVinLiq" class="carouselOffres">
                          {{#each dMBVinLiq in dMOffresBoissonVinLiq}}
                            {{> tmplteChaquePromo promo = dMBVinLiq }}
                          {{/each}}
                        </div>
                        <div id="idDMBVinLiqPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idDMBVinLiqNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if dMOffresBoulangeriePatisserie}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Boulangerie & Patisserie</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteDM.qte.dMBP }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselDMBPatisserie" class="carouselOffres">  
                          {{#each dMBPatisserie in dMOffresBoulangeriePatisserie}}
                            {{> tmplteChaquePromo promo = dMBPatisserie }}
                          {{/each}}
                        </div>
                        <div id="idDMBPatisseriePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idDMBPatisserieNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if dMOffresFastFood}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Fast Food</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteDM.qte.dMFF }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselDMFFood" class="carouselOffres">
                          {{#each dMFFood in dMOffresFastFood}}
                            {{> tmplteChaquePromo promo = dMFFood }}
                          {{/each}}
                        </div>
                        <div id="idDMFFoodPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idDMFFoodNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            {{/let}}
            {{#let qteP=pOffres}}
              {{#if qteP.qtePOBool}}
                <div class="lesPromotions">
                  <div class="lesOffresTitres">
                    <div class="lesOffresTitresPromotions white">
                      <h1>- Le coin des promos -</h1>
                    </div>  
                  </div>
                  <div class="lesOffres">
                    {{#if pOffresEpicerieSalee}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Epicerie Salée</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteP.qte.pESal }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselPESalee" class="carouselOffres">
                          {{#each pESalee in pOffresEpicerieSalee}}
                            {{> tmplteChaquePromo promo = pESalee }}
                          {{/each}}
                        </div>
                        <div id="idPESaleePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idPESaleeNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if pOffresEpicerieSucree}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Epicerie Sucrée</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteP.qte.pESuc }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselPESucree" class="carouselOffres">
                          {{#each pESucree in pOffresEpicerieSucree}}
                            {{> tmplteChaquePromo promo = pESucree }}
                          {{/each}}
                        </div>
                        <div id="idPESucreePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idPESucreeNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if pOffresProduitsFrais}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Produits Frais</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteP.qte.pPF }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselPPFrais" class="carouselOffres">
                          {{#each pPFrais in pOffresProduitsFrais}}
                            {{> tmplteChaquePromo promo = pPFrais }}
                          {{/each}}
                        </div>
                        <div id="idPPFraisPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idPPFraisNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if pOffresFruitsLegumes}}
                      <p class="separationH2Haut"></p>
                      <h2 class="white">Rayon Fruits & Légumes</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteP.qte.pFL }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselPFLegumes" class="carouselOffres">
                          {{#each pFLegumes in pOffresFruitsLegumes}}
                            {{> tmplteChaquePromo promo = pFLegumes }}
                          {{/each}}
                        </div>
                        <div id="idPFLegumesPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idPFLegumesNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if pOffresBoucheriePoissVol}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Boucherie, Poissonnerie, Volaille</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteP.qte.pBPV }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselPBPoissVol" class="carouselOffres">
                          {{#each pBPoissVol in pOffresBoucheriePoissVol}}
                            {{> tmplteChaquePromo promo = pBPoissVol }}
                          {{/each}}
                        </div>
                        <div id="idPBPoissVolPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idPBPoissVolNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if pOffresBoissonVinLiq}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Boisson, Vins, Liqueurs</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteP.qte.pBVL }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselPBVinLiq" class="carouselOffres">
                          {{#each pBVinLiq in pOffresBoissonVinLiq}}
                            {{> tmplteChaquePromo promo = pBVinLiq }}
                          {{/each}}
                        </div>
                        <div id="idPBVinLiqPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idPBVinLiqNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if pOffresBoulangeriePatisserie}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Boulangerie & Patisserie</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteP.qte.pBP }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselPBPatisserie" class="carouselOffres">
                          {{#each pBPatisserie in pOffresBoulangeriePatisserie}}
                            {{> tmplteChaquePromo promo = pBPatisserie }}
                          {{/each}}
                        </div>
                        <div id="idPBPatisseriePrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idPBPatisserieNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if pOffresFastFood}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Fast Food</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteP.qte.pFF }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselPFFood" class="carouselOffres">
                          {{#each pFFood in pOffresFastFood}}
                            {{> tmplteChaquePromo promo = pFFood }}
                          {{/each}}
                        </div>
                        <div id="idPFFoodPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idPFFoodNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                    {{#if pOffresBazar}}
                      <p class="separationH2Haut"></p>
                      <h2>Rayon Bazar</h2>
                      <p class="separationH2"></p>
                      <p class="qteOffre">{{ qteP.qte.pB }} produit(s)</p>
                      <div class="containCarouselOffres">
                        <div id="idCarouselPBazar" class="carouselOffres">
                          {{#each pBazar in pOffresBazar}}
                            {{> tmplteChaquePromo promo = pBazar }}
                          {{/each}}
                        </div>
                        <div id="idPBazarPrev" class="myCarousel__prev myCarousel__prev-hidden"><span class="glyphicon glyphicon-chevron-left"></span></div>
                        <div id="idPBazarNext" class="myCarousel__next myCarousel__next-hidden"><span class="glyphicon glyphicon-chevron-right"></span></div>
                      </div>
                    {{/if}}
                  </div>
                </div>
              {{/if}}
            {{/let}}  
          </div>
        </div>
      {{ else }}
        <div id="login-buttons" class="login-buttons-dropdown-align-">
          <div class="login-link-and-dropdown-list login-form-sign-in">
            <a class="login-link-text" id="login-sign-in-link">Sign in ▾</a>
          </div>
        </div>
        <div class="seConnecter"><span>Se</span> connecter</div>
        <div id='idErrLogin' class='error errLogin'>Vous n'êtes pas autorisé.e.s</div>
      {{ /if }}
    {{ else }}
      <div id="login-buttons" class="login-buttons-dropdown-align-">
        <div class="login-link-and-dropdown-list login-form-sign-in">
          <a class="login-link-text" id="login-sign-in-link">Sign in ▾</a>
        </div>
      </div>
      <div class="seConnecter"><span>Se</span> connecter</div>
    {{ /if }}        
  </div>  
</template>

<template name="tmplteChaqueSite">
  <div class="introInfos infosSite js-modif-site">
  	{{ uSite.siteEspace }} . <span class="smallCaption">{{ uSite.siteQuartier }}</span>
    <p class="modifInfosSite">Modifier les infos du site</p>
  </div>
</template>

<template name="tmplteChaquePromo">  
	<div class="panel panel-default js-modif-promotion">
		<figure class="panel-body">		
      <div class="promoTof">	
			 <img src="{{promo.produitTof}}" alt="Photo promotion">
      </div>
			<figcaption class="promoIdentification">
				<p><span class="white moyen">Désignation produit : </span><span class="orange bold">{{ promo.produitNom }}</span></p>
        <!-- <p><span class="white moyen">Quantité : </span><span class="orange bold">{{ promo.produitQte }}</span></p> -->
				<p><span class="white moyen">Prix : </span><span class="orange bold">{{ promo.produitPrix }} FCFA</span></p>				
				<p><span class="white moyen">Remise : </span><span class="orange bold">{{ promo.promoRemise }} %</span></p>
        <p><span class="white moyen">Détail produit : </span> <br><span class="orange bold">{{ promo.promoDetail }}</span></p>				
				<p><span class="white moyen">Date création promo : </span><span class="orange bold">{{ promo.promoDateCreation }}</span></p>
				<p><span class="white moyen">Valable jusqu'au : </span><span class="orange bold">{{ promo.promoDateExp }}</span></p>
        <!-- <p><span class="white moyen">Expiration produit : </span><span class="orange bold">{{ promo.produitExp }}</span></p> -->
			</figcaption>
		</figure>		
	</div>
</template>

<template name="tmplteModalModifSite">
	<div class="modal fade" tabindex="-1" role="dialog" id="idModalModifSite">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      	<div class="modal-header">
      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
      			<h4>FERMER</h4>
      		</button>
      	</div>
        <div class="modal-body">
          <div class="col-lg-12 notificationNON" id="idNotification">
      			<p>MODIFICATION IMPOSSIBLE : site déjà existant</p>
    		  </div>
    		  <div class="col-lg-12 notificationExistNON" id="idNotificationExist">
      			<p>TRAITEMENT IMPOSSIBLE : site non existant</p>
    		  </div>
    		  <div class="col-lg-12 confirmationNON" id="idConfirmation">
            {{#if $eq currentUser.profile "userApp"}}
              <div class="col-lg-12 non" id="idGestionUser">
                <button type="button" class="btn btn-primary" id="idAjoutUser">AJOUTER UN AGENT</button>
                <button type="button" class="btn btn-default" id="idBlockageUser">BLOQUER / DEBLOQUER UN AGENT</button>
                <button type="button" class="btn btn-danger" id="idSuppUser">SUPPRIMER UN AGENT</button>
              </div>
              <div class="col-lg-12 non" id="idQuotaAtteint">
                <p>Impossible d'ajouter un utilisateur : quota atteint !</p>
              </div>

              <div class="col-lg-12 non" id="idBlockDeblockUser">
                <div class="col-md-6">
                  <select id="idBlkDblkUser" name="selectBlkDblkUser" class="js-choix-blkDblkUser form-control">
                    {{#if uSite.siteMail}}
                      <option value="{{ uSite.siteMail }}">{{ uSite.siteMail }}</option>
                    {{/if}}
                    {{#if uSite.siteMailTwo}}
                      <option value="{{ uSite.siteMailTwo }}">{{ uSite.siteMailTwo }}</option>
                    {{/if}}
                  </select>
                </div>
                <p class="fairRed error non" id="idBlkDblkUserError">Prière de vérifier l'adresse mail</p>
                <button type="submit" class="btn btn-primary majuscule" id="idSubmitBlkDblkUser">Bloquer/Débloquer</button>
                <button type="submit" class="btn btn-primary majuscule non" id="idSubmitBlkUser">Bloquer</button>
                <button type="submit" class="btn btn-primary majuscule non" id="idSubmitDblkUser">Débloquer</button>
                <button type="button" class="btn btn-default majuscule" data-dismiss="modal">Annuler</button>
              </div>

              <div class="col-lg-12 non" id="idSupprimerUser">
                <div class="col-md-6">
                  <select id="idSelectSuppUser" name="selectSuppUser" class="js-choix-suppUser form-control">
                    {{#if uSite.siteMail}}
                      <option value="{{ uSite.siteMail }}">{{ uSite.siteMail }}</option>
                    {{/if}}
                    {{#if uSite.siteMailTwo}}
                      <option value="{{ uSite.siteMailTwo }}">{{ uSite.siteMailTwo }}</option>
                    {{/if}}
                  </select>
                </div>
                <p class="fairRed error non" id="idSuppUserError">Prière de vérifier l'adresse mail</p>
                <button type="submit" class="btn btn-primary majuscule" id="idSubmitSuppUser">Supprimer</button>
                <button type="button" class="btn btn-default majuscule" data-dismiss="modal">Annuler</button>
              </div>

              <div class="formNewUser non" id="idFormNewUser">
                <div class="form-group">
                  <p class="bold">Nouvel agent :</p>
                </div>
                <div class="form-group">
                  <input type="email" name="mailNewUser" class="form-control" id="idMailNewUser" maxlength="60" placeholder="Mail de l'agent" required>
                  <p class="fairRed error non">Entrer une adresse mail</p>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-primary majuscule" id="idSubmitNewUser">Ajouter</button>
                </div>
                <div class="form-group">
                  <button type="button" class="btn btn-default majuscule" data-dismiss="modal">Annuler</button>
                </div>
              </div>
        			<button type="button" class="btn btn-primary non" id="idConfirmModif">CONFIRMER MODIFICATION</button>
        			<button type="button" class="btn btn-danger non" id="idConfirmSupp">CONFIRMER SUPPRESSION</button>
        			<button type="button" class="btn btn-primary non" id="idConfirmBlock">CONFIRMER BLOCAGE</button>
        			<button type="button" class="btn btn-primary non" id="idConfirmDeblock">CONFIRMER DEBLOCAGE</button>
            {{/if}}
      			<button type="button" class="btn btn-secondary non annulModif" id="idConfirmAnnul">ANNULER</button>

      			<div class="promo non" id="idConfirmPromotion">      			
      				<div class="promoUploadTof">	
      					{{> uploadForm }}
      				</div>
      				<div>
        				<form class="js-ajout-promotion">
                  <div id="idTypePromo" class="non">
                    <div class="form-group">
                      <label for="idSelectTypePromo" class="col-lg-4 control-label">Type de promo : </label>
                      <div class="col-lg-8">
                        <select name="selectTypePromo" class="js-choix-typePromo form-control" id="idSelectTypePromo">
                          <option value="--">--</option>
                          <option value="dernierMarche">Dernier marché</option>
                          <option value="promotion">Simple promotion</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div id="idRayonPromo" class="non">
                    <div class="form-group">
                      <label for="idSelectRayonPromo" class="col-lg-4 control-label">Rayon de la promo : </label>
                      <div class="col-lg-8">
                        <select name="selectRayonPromo" class="js-choix-rayonPromo form-control" id="idSelectRayonPromo">
                          <option value="--">--</option>
                          <option value="epicerieSalee">Épicerie salée</option>
                          <option value="epicerieSucree">Épicerie sucrée</option>
                          <option value="produitsFrais">Produits frais</option>
                          <option value="fruitsLegumes">Fruits & légumes</option>
                          <option value="bouchPoissVol">Boucherie, poissonnerie, volaille</option>
                          <option value="boissVinLiq">Boissons, vins, liqueurs</option>
                          <option value="boulPatisserie">Boulangerie, patisserie</option>
                          <option value="fastFood">Fast food</option>
                          <option id="idSelectRayonPromoBazar" value="bazar">Bazar</option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div id="idDefinitionPromo" class="non">
    						    <div class="form-group">
        							<div class="col-lg-12">
          							<input type="text" name="nomProduit" class="form-control majuscule" 
                        id="idNomProduit" placeholder="Désignation du produit" autocomplete="true" required>
        							</div>
    						    </div>
      						  <div class="form-group">
        							<div class="col-lg-12">
          							<input type="number" name="prixProduit" class="form-control majuscule" 
                        id="idPrixProduit" max="1000000" placeholder="Prix du produit (fcfa)" autocomplete="true" required>
        							</div>
        						</div>
                    <!-- <div class="form-group">
                      <div class="col-lg-12">
                        <input type="text" name="quantiteProduit" class="form-control majuscule" id="idQuantiteProduit" maxlength="40" placeholder="Quantité du produit" autocomplete="true" required>
                      </div>
                    </div> -->
      						  <!-- <div class="form-group">
        							<div class="col-lg-12">
                        <label for="idExpProduit" class="col-lg-4 control-label">Expiration produit : </label>
          							<input type="date" name="expirationProduit" class="form-control majuscule" id="idExpProduit" placeholder="Expiration produit (jj/mm/aaaa)" required>
        							</div>
      						  </div> -->
      						  <div class="form-group">
        							<div class="col-lg-12">
          							<input type="number" name="remisePromotion" class="form-control majuscule" id="idRemisePromotion" max="100" placeholder="Remise (%)" autocomplete="true" required>
        							</div>
      						  </div>
      						  <div class="form-group">
        							<div class="col-lg-12">
                        <label for="idExpPromotion" class="col-lg-4 control-label">Date fin de promotion : </label>
          							<input type="date" name="validitePromotion" class="form-control majuscule" id="idExpPromotion" placeholder="Validité promotion (jj/mm/aaaa)" required>
        							</div>
      						  </div>
      						  <div class="form-group">
        							<div class="col-lg-12">
          							<textarea name="detailPromotion" class="form-control" 
                        id="idDetailPromotion" maxlength="60" placeholder="Détail de la promotion" rows="3" required></textarea>
        							</div>
      						  </div>
    						  </div>
    						  <div id="idValidationPromo" class="row non">
    							  <div class="form-group">
      								<div class="col-lg-12">
        								<button type="submit" class="btn btn-success majuscule" id="idValiderPromotion">VALIDER</button>
        							</div>
    							  </div>
    						  </div>
          			</form>
          		</div>
          	</div>
    		  </div>
          <div class="infosIntroSite">
            <div class="form-group moyen">
              Site bloqué ? <span class="bold">{{ uSite.siteBlocked }}</span>
            </div>
            <div class="form-group moyen">
              Note du site : <span class="bold orange">{{ uSite.siteNote }}/5 --- {{ uSite.siteLesNotes.length }} votant(s)</span>
            </div>
          </div>
          <form class="js-modif-site form-horizontal col-lg-6" id="idModifSite">
      			<p id="idInfosDuSite" class="js-modifInfos-site soft bold">
              Coordonnées du site
              <span class="glyphicon glyphicon-chevron-down pull-right"></span>
              <span class="glyphicon glyphicon-chevron-right pull-right"></span>
            </p>
            <div class="infosDuSite">  
              <div>
        			  <div class="form-group">
          			  <div class="col-lg-12">
            			  <input type="text" name="nomSite" class="form-control majuscule" 
                  id="idModifNomSite" maxlength="30" value="{{ uSite.siteQuartier }}" autocomplete="true" required>
          			  </div>
        			  </div>
      			  </div>
      			  <div>
        			  <div class="form-group">
          			  <div class="col-lg-12">
            			  <input type="text" name="villeSite" class="form-control majuscule" 
                  id="idModifVilleSite" maxlength="30" value="{{ uSite.siteVille }}" autocomplete="true" required>
          			  </div>
        			  </div>
      			  </div>
      			  <div>
        			  <div class="form-group">
          			  <div class="col-lg-12">
            			  <input type="text" name="contactSite" class="form-control majuscule" id="idModifContactSite" maxlength="10" value="{{ uSite.siteContact }}" required>
          			  </div>
        			  </div>
      			  </div>
              {{#if uSite.siteMail}}
        			  <div>
          			  <div class="form-group">
            			  <div class="col-lg-12">
              			  <input type="email" name="mailSite" class="form-control" id="idModifMailSite" maxlength="30" value="{{ uSite.siteMail }}" required disabled>
            			  </div>
          			  </div>
        			  </div>
              {{/if}}
              {{#if uSite.siteMailTwo}}
                <div>
                  <div class="form-group">
                    <div class="col-lg-12">
                      <input type="email" name="mailSiteTwo" class="form-control" id="idModifMailSiteTwo" maxlength="30" value="{{ uSite.siteMailTwo }}" required disabled>
                    </div>
                  </div>
                </div>
              {{/if}}
            </div>
            {{#if $eq currentUser.profile "userApp"}}
              <p id="idHorairesDuSite" class="js-modifInfos-site soft bold">
                Horaires du site
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
              </p>
              <div class="infosDuSite">
                <p class="js-modifInfos-site jr">
                  Jours fériés
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                  <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </p>
                <div class="infosDuSite">  
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifOuvertureFeriesSite">Ouverture jours fériés</label>
                        <input type="time" name="ouvertureFeriesSite" class="form-control" id="idModifOuvertureFeriesSite" value="{{ uSite.siteOuvFeries }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifFermetureFeriesSite">Fermeture jours fériés</label>
                        <input type="time" name="fermetureFeriesSite" class="form-control" id="idModifFermetureFeriesSite" value="{{ uSite.siteFermFeries }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="js-modifInfos-site jr">
                  Lundi
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                  <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </p>
                <div class="infosDuSite">
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifOuvertureLundiSite">Ouverture lundi</label>
                        <input type="time" name="ouvertureLundiSite" class="form-control" id="idModifOuvertureLundiSite" value="{{ uSite.siteOuvLundi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifFermetureLundiSite">Fermeture lundi</label>
                        <input type="time" name="fermetureLundiSite" class="form-control" id="idModifFermetureLundiSite" value="{{ uSite.siteFermLundi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="js-modifInfos-site jr">
                  Mardi
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                  <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </p>
                <div class="infosDuSite">
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifOuvertureMardiSite">Ouverture mardi</label>
                        <input type="time" name="ouvertureMardiSite" class="form-control" id="idModifOuvertureMardiSite" value="{{ uSite.siteOuvMardi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifFermetureMardiSite">Fermeture mardi</label>
                        <input type="time" name="fermetureMardiSite" class="form-control" id="idModifFermetureMardiSite" value="{{ uSite.siteFermMardi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="js-modifInfos-site jr">
                  Mercredi
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                  <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </p>
                <div class="infosDuSite">
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifOuvertureMercrediSite">Ouverture mercredi</label>
                        <input type="time" name="ouvertureMercrediSite" class="form-control" id="idModifOuvertureMercrediSite" value="{{ uSite.siteOuvMercredi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifFermetureMercrediSite">Fermeture mercredi</label>
                        <input type="time" name="fermetureMercrediSite" class="form-control" id="idModifFermetureMercrediSite" value="{{ uSite.siteFermMercredi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="js-modifInfos-site jr">
                  Jeudi
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                  <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </p>
                <div class="infosDuSite">
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifOuvertureJeudiSite">Ouverture jeudi</label>
                        <input type="time" name="ouvertureJeudiSite" class="form-control" id="idModifOuvertureJeudiSite" value="{{ uSite.siteOuvJeudi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifFermetureJeudiSite">Fermeture jeudi</label>
                        <input type="time" name="fermetureJeudiSite" class="form-control" id="idModifFermetureJeudiSite" value="{{ uSite.siteFermJeudi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="js-modifInfos-site jr">
                  Vendredi
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                  <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </p>
                <div class="infosDuSite">
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifOuvertureVendrediSite">Ouverture vendredi</label>
                        <input type="time" name="ouvertureVendrediSite" class="form-control" id="idModifOuvertureVendrediSite" value="{{ uSite.siteOuvVendredi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifFermetureVendrediSite">Fermeture vendredi</label>
                        <input type="time" name="fermetureVendrediSite" class="form-control" id="idModifFermetureVendrediSite" value="{{ uSite.siteFermVendredi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="js-modifInfos-site jr">
                  Samedi
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                  <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </p>
                <div class="infosDuSite">
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifOuvertureSamediSite">Ouverture samedi</label>
                        <input type="time" name="ouvertureSamediSite" class="form-control" id="idModifOuvertureSamediSite" value="{{ uSite.siteOuvSamedi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifFermetureSamediSite">Fermeture samedi</label>
                        <input type="time" name="fermetureSamediSite" class="form-control" id="idModifFermetureSamediSite" value="{{ uSite.siteFermSamedi }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                </div>
                <p class="js-modifInfos-site jr">
                  Dimanche
                  <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                  <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </p>
                <div class="infosDuSite">
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifOuvertureDimancheSite">Ouverture dimanche</label>
                        <input type="time" name="ouvertureDimancheSite" class="form-control" id="idModifOuvertureDimancheSite" value="{{ uSite.siteOuvDimanche }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <div class="col-lg-12">
                        <label for="idModifFermetureDimancheSite">Fermeture dimanche</label>
                        <input type="time" name="fermetureDimancheSite" class="form-control" id="idModifFermetureDimancheSite" value="{{ uSite.siteFermDimanche }}" autocomplete="true" required>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <p id="idEmplacementDuSite" class="js-modifInfos-site soft bold">
                Emplacement du site
                <span class="glyphicon glyphicon-chevron-down pull-right"></span>
                <span class="glyphicon glyphicon-chevron-right pull-right"></span>
              </p>
              <div class="infosDuSite">
                <div class="row">
                  <div class="form-group">
                    <div class="col-lg-12">
                      <textarea name="emplacementSite" class="form-control" id="idModifEmplacementSite" maxlength="500" rows="5" required>{{ uSite.siteEmplacement }}</textarea>
                    </div>
                  </div>
                </div>
              </div>
            {{/if}}
      		</form>
        </div>
        <div class="modal-footer">
          {{#if $eq currentUser.profile "userApp"}}
      			<button type="button" class="btn btn-primary majuscule js-btn-modifier" name="btnModifier">Modifier infos</button>
      			<button type="button" class="btn btn-default majuscule js-btn-supprimer" name="btnSupprimer">Supprimer Site</button>
  				  <button type="button" class="btn btn-secondary majuscule js-btn-blocked" name="btnBlocked">Bloquer/Débloquer</button>
            <button type="button" class="btn btn-info majuscule js-btn-gererUser" name="btnGerer">Gérer les utilisateurs</button>
          {{/if}}
				  <button type="button" class="btn btn-success majuscule js-btn-promotion" name="btnPromotion">Ajouter une promotion</button>
  			</div>
      </div>
    </div>
  </div>
</template>

<template name="uploadForm">
  {{#with currentUpload}}
    <div class="{{file._id}}" id="idInsertionTof">
      Téléchargement de <b>{{file.name}}</b>:
      <span id="progress">{{progress.get}}%</span>
    </div>
  {{else}}
    <input id="fileInput" type="file" name="userimage"/>
  {{/with}}
  <button id="inserTof" class="non" type="submit">Charger l'image</button>
</template>

<template name="tmplteModalModifPromotion">
	<div class="modal fade" tabindex="-1" role="dialog" id="idModalModifPromotion">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
      	<div class="modal-header">
      		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
      			<h4>FERMER</h4>
      		</button>
      	</div>
        <div class="modal-body">
        	<div class="col-lg-6 notificationNON" id="idNotifPromo">
      			<p>MODIFICATION IMPOSSIBLE : promo déjà existante</p>
  		  	</div>
  		  	<div class="col-lg-6 notificationExistNON" id="idNotificationExistPromo">
      			<p>TRAITEMENT IMPOSSIBLE : promo non existante</p>
    		  </div>
  		  	<div class="col-lg-6 confirmationNON" id="idConfirmationPromo">
      			<button type="button" class="btn btn-primary non" id="idConfirmModifPromo">CONFIRMER MODIFICATION</button>
      			<button type="button" class="btn btn-primary non" id="idConfirmModifImage">CONFIRMER MODIFICATION</button>
      			<button type="button" class="btn btn-danger non" id="idConfirmSuppPromo">CONFIRMER SUPPRESSION</button>
      			<button type="button" class="btn btn-secondary non" id="idConfirmAnnulPromo">ANNULER</button>

      			<div class="non" id="idPromoUploadModifTof">	
    					{{> uploadForm }}
    					<button type="button" class="btn btn-primary modifImagePromo" id="idModifImagePromo">MODIFIER L'IMAGE</button>
              <button type="button" class="btn btn-secondary non" id="idConfirmAnnul">ANNULER</button>
    				</div>
  		  	</div>
  				<form class="js-modif-promotion form-horizontal col-lg-12" id="idModifPromo">
            <div class="form-group">
              <label for="idSelectModifRayonPromo" class="col-lg-4 control-label">Rayon de la promo : </label>
              <div class="col-lg-6">
                <select name="selectModifRayonPromo" class="js-choix-modifRayonPromo form-control" id="idSelectModifRayonPromo">
                  <option value="--">--</option>
                  <option value="epicerieSalee">Épicerie salée</option>
                  <option value="epicerieSucree">Épicerie sucrée</option>
                  <option value="produitsFrais">Produits frais</option>
                  <option value="fruitsLegumes">Fruits & légumes</option>
                  <option value="bouchPoissVol">Boucherie, poissonnerie, volaille</option>
                  <option value="boissVinLiq">Boissons, vins, liqueurs</option>
                  <option value="boulPatisserie">Boulangerie, patisserie</option>
                  <option value="fastFood">Fast food</option>
                  <option id="idSelectModifRayonPromoBazar" value="bazar">Bazar</option>
                </select>
              </div>
            </div>
					  <div class="form-group">
  						<div class="col-lg-12">
                <label for="idModifNomProduit" class="col-lg-4 control-label">Désignation du produit : </label>
    						<input type="text" name="modifNomProduit" class="form-control majuscule col-lg-6" id="idModifNomProduit" maxlength="40" value="{{ promo.produitNom }}" autocomplete="true" required>
  						</div>
					  </div>
					  <div class="form-group">
							<div class="col-lg-12">
                <label for="idModifPrixProduit" class="col-lg-4 control-label">Prix : </label>
								<input type="number" name="modifPrixProduit" class="form-control majuscule col-lg-6" id="idModifPrixProduit" max="1000000" value="{{ promo.produitPrix }}" autocomplete="true" required>
							</div>
					  </div>
            <!-- <div class="form-group">
              <div class="col-lg-12">
                <label for="idModifQuantiteProduit" class="col-lg-4 control-label">Quantité : </label>
                <input type="text" name="modifQuantiteProduit" class="form-control majuscule col-lg-6" id="idModifQuantiteProduit" maxlength="40" value="{{ promo.produitQuantite }}" autocomplete="true" required>
              </div>
            </div> -->
					  <!-- <div class="form-group">
							<div class="col-lg-12">
                <label for="idModifExpirationProduit" class="col-lg-4 control-label">Expiration produit : </label>
								<input type="date" name="modifExpirationProduit" class="form-control majuscule col-lg-6" id="idModifExpirationProduit" value="{{ promo.produitExpiration }}" required>
							</div>
					  </div> -->
					  <div class="form-group">
							<div class="col-lg-12">
                <label for="idModifRemisePromotion" class="col-lg-4 control-label">Remise (%) : </label>
								<input type="number" name="modifRemisePromotion" class="form-control majuscule col-lg-6" id="idModifRemisePromotion" max="100" value="{{ promo.promoRemise }}" autocomplete="true" required>
							</div>
					  </div>
					  <div class="form-group">
							<div class="col-lg-12">
                <label for="idModifExpPromotion" class="col-lg-4 control-label">Date fin de promotion : </label>
								<input type="date" name="modifValiditePromotion" class="form-control majuscule col-lg-6" id="idModifExpPromotion" value="{{ promo.promoExpiration }}" required>
							</div>
					  </div>
					  <div class="form-group">
							<div class="col-lg-12">
                <label for="idModifDetailPromotion" class="col-lg-4 control-label">Détail promotion : </label>
								<textarea name="modifDetailPromotion" class="form-control col-lg-6" id="idModifDetailPromotion" maxlength="60" value="{{ promo.promoDetail }}" rows="4" required></textarea>
							</div>
					  </div>
					</form>
          <div class="modal-footer">
    				<button type="button" class="btn btn-primary majuscule js-btn-modifier" name="btnModifierPromo">Modifier Promotion</button>
    				<button type="button" class="btn btn-success majuscule js-btn-modifImage" name="btnModifierImagePromo">Modifier Image</button>
    				<button type="button" class="btn btn-default majuscule js-btn-supprimer" name="btnSupprimerPromo">Supprimer Promotion</button>
  				</div>
      	</div>
      </div>
    </div>
  </div>
</template>

<template name="tmplteNavigationSitesDetail">
  <nav id="navigationSitesDetail" class="navbar navbar-inverse navbar-fixed-top navigation">
    <div id="idNavigationSitesDetail" class="container authentification">
      <div class="navbar-header">
        {{#if currentUser}}
          {{#if $eq currentUser.profile "userApp"}}
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{/if}}
        {{ /if }}
        <a class="navbar-brand" href="/">
          <span class="pacifico fairRed">Derniermarché</span><span class="pacifico bleuFonce">.com</span>
        </a>
      </div>
      {{#if currentUser}}
        {{#if $eq currentUser.profile "userApp"}}
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="text-center bold" href="/authentification/espaces">Espaces disponibles</a></li>
            <li><a class="text-center bold active" href="/authentification/sites">Sites disponibles</a></li>
            <li><a class="text-center bold" href="/authentification/creationespace">Création d'un espace</a></li>
            <li><a class="text-center bold" href="/authentification/creationsite">Création d'un site</a></li>
            <li><a class="text-center bold" href="/authentification/utilisateurs">Les utilisateurs</a></li>
          </ul>
        </div>
        {{/if}} 
      {{ /if }}
    </div>
  </nav>
</template>